::selection {
    background: $color_body;
}
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-button { 
    background-color: #666;
}
::-webkit-scrollbar-track {
    background-color: #999;
}
::-webkit-scrollbar-track-piece {
    background-color: $color_body;
}
::-webkit-scrollbar-thumb {
    background-color: $color_active;
    border-radius: 3px;
}
::-webkit-scrollbar-corner {
    background-color: #999;
}
::-webkit-resizer {
    background-color: #666;
}