.modalwrap {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;   
    background: rgba(255,255,255,.5);
}

.dialog {
    display: block;
    width: 400px;
    border: $border_std;
    box-shadow: $color_shadow 0 0 10px;
    background: $white;

    header {
        display: block;
        padding: $padding-05x $padding;
        font-size: 20px;
        color: $white;
        background: $color_active;
    }

    &__body {
        display: block;
        width: 100%;
        padding: $padding-025x $padding $padding;

        p {
            margin-bottom: .4rem;
            font-size: 16px;
            line-height: 130%;
        }
        p:first-of-type {
            margin-top: $padding-05x;
        }
        p:last-of-type {
            margin-bottom: $padding-05x;
        }

        input[type="text"] {
            display: block;
            width: 100%;
            margin-bottom: $padding-05x;
            border-bottom: $color_active solid 1px;
            padding: $padding-05x;
            font-size: 18px;
        }

        textarea {
            display: block;
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            min-height: 3rem;
            border: $border_std;
            border-bottom: $color_active solid 1px;
            margin-bottom: $padding;
            padding: $padding-05x;
            font-size: 16px;
            line-height: 130%;
        }

        button.add {
            display: inline-block;
            padding: $padding-05x;
            font-size: 16px;
            color: $white;
            background: $color_success;
            transition: background ease-in-out .2s;
            cursor: pointer;
        }
        button.add:hover {
            background: $color_success-hover; 
        }

        button.delete {
            display: inline-block;
            padding: $padding-05x;
            margin-left: .3rem;
            font-size: 16px;
            color: $color_text-secondary;
            background: $white;
            transition: color ease-in-out .2s;
            cursor: pointer;
        }
        button.delete:hover {
            color: $color_error;
        }
    }
}
.dialog-delete {
    header {
        display: block;
        padding: $padding-05x $padding;
        font-size: 20px;
        color: $white;
        background: $color_error;
    }
    button {
        margin-top: .5rem;
    }
}