@-webkit-keyframes notifyProgress {
    from {width: 0%;}
    to {width: 100%;}
}
@keyframes notifyProgress {
    from {width: 0%;}
    to {width: 100%;}
}
.notify {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;

    .notify-success {
        display: block;
        height: 2px;
        -webkit-box-shadow: $color_success 0 0 10px 0;
                box-shadow: $color_success 0 0 10px 0;
        background: $color_success;
        -webkit-animation: notifyProgress 1s cubic-bezier(.92, .07, .69, .77);
                animation: notifyProgress 1s cubic-bezier(.92, .07, .69, .77);
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
    }
    .notify-error {
        display: block;
        height: 2px;
        -webkit-box-shadow: $color_error 0 0 10px 0;
                box-shadow: $color_error 0 0 10px 0;
        background: $color_error;
        -webkit-animation: notifyProgress 1s cubic-bezier(.92, .07, .69, .77);
                animation: notifyProgress 1s cubic-bezier(.92, .07, .69, .77);
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
    }
}