* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1;
    font-family: "Segoe UI", "Roboto", "San Francisco", sans-serif;
    cursor: default;
}