.setting__param {
    display: block;
    width: 100%;
    margin-bottom: $padding-025x;
    font-size: 16px;
    line-height: 140%;
    color: $color_text;

    span {
        margin-right: .35rem;
        font-size: inherit;
        font-weight: 700;
        color: $black;
    }
}

.setting__placebar {
    display: block;
    width: 100%;
    height: 28px;
    background: $color_shadow;

    span {
        display: block;
        height: 100%;
        background: $color_active;
    }
}

.setting__delete {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: $padding;
    padding-top: $padding;
    border-top: $border_std;

    button {
        display: inline-block;
        padding: $padding-05x 0;
        color: $color_error;
        background: transparent;
        -webkit-transition: color ease-in-out .2s;
        transition: color ease-in-out .2s;
    }
    button:hover {
        color: $color_error-hover;
    }
}