.task {
    display: block;
    width: 100%;
    margin-bottom: $padding;
    padding-bottom: $padding;
    border-bottom: $border_light;

    h3 {
        display: block;
        margin-bottom: $padding-025x;
        font-size: 18px;
        font-weight: 700;
        line-height: 120%;
        color: $color_text;
    }
    p {
        display: block;
        margin-bottom: $padding-025x;
        font-size: 14px;
        line-height: 130%;
        word-break: break-word;
        color: $color_text;
    }

    &__controls {
        display: block;
        font-size: 14px;
        line-height: 130%;

        span {
            display: inline-block;
            margin-right: .5rem;
            margin-bottom: .3rem;
            cursor: pointer;
        }
        span:hover {
            text-decoration: underline;
        }

        .control-active {
            color: $color_active;
        }
        .control-back {
            color: $color_warning;
        }
        .control-delete {
            color: $color_error;
        }
        .control-archive {
            color: $color_archive;
        }
    }
}

.task-archived {
    display: block;
    width: 100%;
    margin-bottom: $padding;
    padding-bottom: $padding;
    border-bottom: $border_light;

    h3 {
        display: block;
        margin-bottom: $padding-025x;
        font-size: 18px;
        font-weight: 700;
        line-height: 120%;
        color: $color_text;
    }
    p {
        display: block;
        margin-bottom: $padding-025x;
        font-size: 14px;
        line-height: 130%;
        color: $color_text;
    }
    time {
        display: inline-block;
        margin-bottom: $padding-025x;
        font-size: 12px;
        line-height: 130%;
        color: $color_text;
    }
    time:first-of-type {
        margin-right: .5rem;
    }
}

.task:last-of-type,
.task-archived:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

// Нет заданий в архиве
.empty__archive {
    display: block;
    width: 100%;
    font-size: 16px;
    color: $color_text-secondary;
}