@import 'reset';

// Colors
$color_text: #1D2734;
$color_text-secondary: #66717F;

$color_active: #5585B5;
$color_ok: #A1C527;
$color_warning: #FB8C00;
$color_error: #F27171;
$color_archive: #7AC1D0;

$color_success: #43A047;
$color_success-hover: #388E3C;

$color_sidebar: #F5F5F5;
$color_shadow: #E0E0E0;
$color_body: #F4F6F9;
$white: #fff;

// Sizes
$width_app: 1200px;
$width_app-sidebar: 200px;
$width_app-body: $width_app - $width_app-sidebar;

// Paddings
$padding-025x: 5px;
$padding-05x: 10px;
$padding: 20px;
$padding-2x: $padding * 2;

//Borders
$border_std: $color_shadow solid 1px;
$border_light: $color_sidebar solid 1px;

// Extends
.flex-start {
    display: flex;
    align-content: flex-start;
    align-items: stretch;
    justify-content: flex-start;
}


@keyframes notifyLeave {
    from {left: 10px;}
    to {left: -240px;}
}
.notify {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 210px;
    border-radius: 4px;
    background: $white;

    h4 {
        display: block;
        padding: 7px 10px;
    }
    p {
        padding: 10px;
        font-size: 14px;
        line-height: 130%;
    }
}
.notify-success {
    color: $color_text;
    box-shadow: #C8E6C9 0 0 10px 0;
    h4 {
        background: #A5D6A7;
    }
}
.notify-error {
    color: $color_text;
    box-shadow: #ffcdd2 0 0 10px 0;
    h4 {
        color: $white;
        background: #f44336;
    }
}
.notify-arrive {
    animation: notifyLeave 1s ease-in-out;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}
.notify-leave {
    animation: notifyLeave 1s ease-in-out;
    animation-fill-mode: forwards;
}



@import 'body';
@import 'task';